
@mixin when-xs() {
    @media (max-width: $screen-xs-max) {
        @content;
    }
}

@mixin when-sm() {
    @media (min-width: $screen-sm-min) {
        @content;
    }
}

@mixin when-md() {
    @media (min-width: $screen-md-min) {
        @content;
    }
}

@mixin when-lg() {
    @media (min-width: $screen-lg-min) {
        @content;
    }
}

//General
html {

    font-size: 16px;
    @include when-xs {
        font-size: 12px;
        font-size: 12px;
    }
    @include when-sm {
        font-size: 14px;
        font-size: 14px;
    }
    @include when-md {
        font-size: 15px;
        font-size: 15px;
    }
    @include when-lg {
        font-size: 16px;
        font-size: 16px;
    }
}

body {
    box-sizing: border-box;
    background-color: #ebeef5;
    font-family: "Open sans", Helvetica, Arial, sans-serif;
    color:#6E6E6E;
    background-color: #F6F6F6;
}
.container-fluid {
  padding: 0;
}

.main_width {
  max-width: 1200px;
  // margin-bottom: 5%;
}
.row {
  padding: 0;
  margin: 0;
}
.noPadding {
  padding: 0;
}
.articlePersons {
  @include when-xs {
    margin-top: 7%;
  }
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.borderHeader {
  border-bottom: 1px solid #ccc;
  height: 100px;
}


.nav-pills>li {
  @include when-xs {
      float: none;
  }
  @include when-xs {
      float: none;
    }

}
.main-navigation ul li.focus>ul,
.main-navigation ul li:hover>ul, canvas {
  top: 100px;
}
.buttonHam {
  color: #F6F6F6;
  // margin-top: -19px;
  z-index: 9999;
  margin-left: -13px;
  width: 73px;
}

.hoverMenu {
  color:#9c5176;
  background-color:white!important;
}
button .menu-toggle {
  color: #F6F6F6!important;
}
.hoverMenu>a {
  color:#9c5176!important;
  background-color:white;
}
.nav>li>a {
  padding: 10px 35px;
  @include when-xs {
    padding: 10px 22px;
  }
  @include when-sm {
    padding: 10px 42px;
  }
}
.nav {
  padding: 0;
  display: block;
  float: right;
}
.navbar.nav li a:hover {
	color:#9c5176;
  background-color:white;
  // box-shadow: 0px -3px 0px black;
}
.hoverNav-menu {
  color:#9c5176;
  background-color:white!important;
  z-index: 3;
}

 .navActive {
   color:#9c5176;
   background-color:white;
   z-index: 1
 }
.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	// float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
  @include when-xs {
    top: 72%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  }
  @include when-sm {
    top: 72%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  }
  @include when-md {
    top: 100%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    width: 299px;
  }
  @include when-lg {
    top: 100%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    width: 299px;
  }
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 180px;
}
.navbar .nav li a {
  text-decoration: none;
  list-style: none;
  color: #6E6E6E;
  text-align: center;
  min-height: 7em;

  background: transparent;
  @include when-xs {
    z-index: 4;
  }
  @include when-sm {
    z-index: 4;

  }
  @include when-md {
    z-index: 3;
  }
  @include when-lg {
    z-index: 3;
  }
}
.nav-pills>li>a {
    width: 100%;
}
.toggled {
  width: 100%;
}

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
  height: 100px;
  // z-index: 999;
  // color: #F6F6F6;
  // // width: 100vw;
  // text-align: center;
  // margin-right: -16px;
  // margin-top: -9px;
  li {
    width: 100vw;
  }
}
.main-navigation ul ul a {
      padding: 0.8em 1em;
      font-size: 0.9em;

}
.menu-toggle {
  // float: right;
  @include when-xs {
    display: block;
  }
  @include when-sm {
    display: block;

  }
  @include when-md {
    display: none;
  }
  @include when-lg {
    display: none;
  }
}
.main-navigation ul {
  @include when-xs {
    	display: none;
  }
  @include when-sm {
    	display: none;
  }
  @include when-md {
    	display: block;
  }
  @include when-lg {
    	display: block;
  }
}
.nava {
  height: 100px;
  display: block;
}
.nava .navbar {
  height: 83px;

  @include when-xs {
      width: 3em;
      // margin-top: 17px;
  }
  @include when-sm {
      width: 3em;
      // margin-top: 17px;
  }
  @include when-md {
      width: 100%;
      margin-top: 0;
  }
  @include when-lg {
      width: 100%;
      margin-top: 0;
  }

}

.nav li {
  display: flex;
  justify-content: flex-end;
  margin-top: 1px;

}
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: 0;
}
.borderHeader {
  position: fixed;
  z-index: 999;
  border-bottom: 1px solid silver;
  height: 100px;
  width: 100%;
    background-color: #F6F6F6;
}
.borderFooter {
  border-top: 1px solid silver;
}
.main-navigation.nav>ul>li {
	position: relative;
  height: 100%;
  display: flex;
  background-color:  #F6F6F6;
  margin-top: -1px;
  @include when-xs {
    margin-right: -16px;
  }
  @include when-sm {
        margin-right: -16px;
  }
  @include when-md {
    margin-right: 0;
  }
  @include when-lg {
        margin-right: 0;
  }

}

.main-navigation.nav>ul>li:last-child {
  z-index: 1;
}
.arrowsDown::after {
    content: 'â†“';
    position: absolute;
    padding: 38px 20%;
    z-index: 3;
    @include when-md {
      display: none;
    }
      @include when-lg {
        display: none;
      }

  }
.arrowsUp::after {
    content: 'â†‘';
    position: absolute;
    padding: 38px 20%;
    z-index: 3;
    @include when-md {
      display: none;
    }
      @include when-lg {
        display: none;
      }
  }


.marginLiSubmenu {
  @include when-xs {
    	margin-top: 183px!important;
  }
  @include when-sm {
    	margin-top: 183px!important;
  }
  @include when-md {
    	margin:inherit!important;
  }
  @include when-lg {
    	margin:inherit!important;
  }

}
.main-navigation a {
	display: block;
	text-decoration: none;
}
.sub-menu {
  height: 200px !important;
  margin-top: -1.5px!important;
  z-index: 999;
}
.navbar ul.sub-menu li a {
  // text-align: left;
  justify-content: center;
  margin-top: -1px;
  width: 100%;
  min-height: 4em;
  // z-index: 1000;
  }
.navbar {
  margin-bottom: 0;
  z-index: 999;
  .nav li a {

    border-radius: 0;
    //
    display: flex;
    justify-content: center;
    align-items: center;
  }
    ul.sub-menu li a {
      background-color: white;
    }
}
.nav-pills>li+li {
  margin: 0;
}

// /* Icon 2 */

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 4px;
  margin-top: 2.8em;
  z-index: 1;
  width: 50%;
  background: #6E6E6E;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
  z-index: -1;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 9px;
  z-index: -1;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 18px;
  z-index: -1;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 3.5px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 3.5px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 13.5px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 13.5px;
}

/*--------------------------------------------------------------
## Logo
--------------------------------------------------------------*/
.imgLogoMobile {
  background-image: url("images/logo2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}
.logo {
  height: 100px;
}
.custom-logo-link {
	margin-top: 3%;
}

img.custom-logo {
  // width: 100%;
  height: 100%;

  @include when-xs {
    	padding: 2% ;
      width: 100%;
      height: 100%;
  }
  @include when-sm {
    padding:2%;
  }
  @include when-md {
    padding: 3%;
  }
  @include when-lg {
      padding: 3%;
  }
}
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}
/*--------------------------------------------------------------
## STR GLOWNA IMG
--------------------------------------------------------------*/

.imgHeader {
	width: 100%;
  margin-top: 100px;
  // border: 1px solid #ccc;
  margin-bottom: 3%;
  z-index: 1;
}
.article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  h3 {
    margin: 0 5%;
  }
  img {
    width: 100%;

    @include when-xs {
      // width: 100%;
    }
  }
}
.article_text {
  padding: 0 rem(30px);
  h3 a {
    font-size: 0.6em;
     color:#6E6E6E !important;
}}
.article_background {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
//O UDEB
h2.widget-title {
	font-size: 1.5em;
  color: #8c486a;
}
.textwidget>p>a,
.button_homepage>a {
	padding: 0.5em;
	font-size: 1em;
	background-color: #9c5176;
	color: white;
	border-radius: 5px;

}
.button_homepage {
  margin: 0;
}
.textwidget>p>a:hover,
.button_homepage>a:hover {
	text-decoration: none;
	background-color: #8c486a;
}
.button_homepage {
  display: flex;
  justify-content: center;
}
.imgContainer {
  text-align: center;
}
.imgContainer>img {
    height: 15em;
    width: 15em;
    // margin: 3%;
    border: 10px solid #fff;
    box-shadow: 0 2px 10px -1px silver;
    text-align: center;
    @include when-xs {
      display: inherit;
      }
    // @include when-sm {
    //   height: 13em;
    //   width: 13em;
    //   }
    @include when-md {
      height: 13em;
      width: 13em;
      }
    @include when-lg {
      height: 14em;
      width: 14em;
      }
}

/*--------------------------------------------------------------
## FOOTER
--------------------------------------------------------------*/
// .site-footer {
//   @include when-xs {
//       margin-top: 5%;
//     }
//   @include when-sm {
//       margin-top: 5%;
//     }
// }
.sidebar_footer {
	display: flex;
	flex-wrap: wrap;
  .widget_text>.widget-title {
    border-bottom: none;
  }
  .button_homepage>a, .textwidget>p>a {
    color: #9c5176;
    background-color: inherit;
    padding: 0;
  }
  .button_homepage>a, .textwidget>p>a:hover {
    color: black;
  }
}
.borderBottom {
  border-top: 1px solid silver;
}
.footerBox {
  padding: 3%;
  border-top: 1px solid silver;
}
.article_background .article_text>h3 {
  margin: 0;
  padding-left: 2%;
  text-align: center;
  font-size: 1em;
}
/*--------------------------------------------------------------
## WIDGET
--------------------------------------------------------------*/

.widget_custom_html>.widget-title {
	// border-bottom: 1px solid silver;
	padding-bottom: 1%;
}
.timeOpenBox {
	// border-bottom: 1px solid silver;
	padding-top: 2em;
  position: relative;
  margin-bottom: 4%;
}
.timeOpen {
  padding: 0;
  padding-right: 15px;
}
.widgetAboute>.textwidget>p {
  font-size: 1em;
  font-style: italic;
  text-align: center;
  padding: 2% 6%;
    a {
      font-style: normal;
    }
}
.entry-content {
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  color:#6E6E6E;
  background-color: #F6F6F6;
  h3 {
      // border-bottom: 1px solid silver;
      padding-bottom: 1%;
  }
  p {
    // margin-top: 10%;
  } }


  .entry-content,
  .widgetAboute,
  .titleOferta {
  h1 {
      position: relative;
      display: block;
      clear: both;
      display: inline;
      border-bottom: 1px solid #dadade;
      font-size: 1.5em;
      padding-right: 30px;
      padding-bottom: 1%;
      color: #9c5176;
      span {
        margin-bottom: 10%;
        display: inline-block;
        @include when-xs {
          margin-bottom: 5%;
          }
        }
      }

  h1:before {
        width: 50px;
        content: "";
        height: 2px;
        background: #9c5176;
        position: absolute;
        z-index: 55;
        top: 100%;
    }

  }

.borderTop {
  // border-top: 1px solid silver;
  .widget_text {
    margin-top: 1%;
    margin-bottom: 2%;
  }
}
.sidebar_contact1  {
  .textwidget {
    padding: 3%;
  }}
  .sidebar_contact {
    padding:  0;
    .textwidget {
      padding: 3%;
    }}
  iframe {
    height: 300px;
    padding-right: 3%;
    margin-bottom: 4%;
    @include when-xs {
        padding-right: 15px;
      }
  }
  .sidebar_contact iframe {

    margin-top: 100px;
  }
  .textwidget>p {
    font-size: 1em;
  }
  .textwidget {
    padding: 5% 10% 5% 0;
    @include when-xs {
        // padding: 5% 0 5% 0;
        padding: 0;
      }
  }
  .widget_text>.widget-title {
    display: inline-block;
    // border-bottom: 1px solid silver;
    padding-bottom: 1%;
  }
  .widget_text_adres {
    padding: 0 5%;
    @include when-xs {
        padding: 5% 0 0 0;
      }
    @include when-sm {
        padding: 0 ;
      }
    @include when-md {
        padding: 0 3%;
      }
  }
  .paddingRight {
    padding-right: 0;
    // margin-top: 3%;
    padding-bottom: 2%;
  }

  /*--------------------------------------------------------------
  ## O FIRMIE
  --------------------------------------------------------------*/
  .noMargin p {
    margin: 3% 0 0 0;
    padding-right: 5%;
  }
  .sep:before {
      width: 60px;
      content: "";
      height: 2px;
      background: #9c5176;
      position: absolute;
      z-index: 55;
      top: -1px;
  }
  .sep {
    position: relative;
    display: block;
    clear: both;
    margin: 60px 0 30px 0;
    height: 1px;
    border-top: 1px solid;
    color: #dadade;
}
// .sepLong:before {
//     width: 10%;
//     content: "";
//     height: 2px;
//     background: #9c5176;
//     position: absolute;
//     z-index: 55;
//     top: -1px;
// }
// .sepLong {
//   position: relative;
//   display: block;
//   clear: both;
//   margin: 60px 0 30px 0;
//   height: 1px;
//   border-top: 1px solid;
//   color: #dadade;
// }
.tabsList ul {
  margin-bottom: 0;
  text-decoration: none;
  list-style: none;
  padding-left: 0;
  .tabsListTitle {
    display: inline-table;
    border: 1px solid silver;
    background-color: #f1f1f1;
    padding: 1.5% 4%;
    padding-bottom: 0;
    height: 50px;
    text-align: center;
    position: relative;
      @include when-xs {
        display: block;
      }
      @include when-sm {
        padding: 1.5% 2%;
      }
  }
  .tabsListTitle:hover {
      color: #9c5176;
      background-color: #F6F6F6;
    }
}

.tabsList ul {
  margin-bottom: 0;
  text-decoration: none;
  list-style: none;
  padding-left: 0;
  .tabsListTitleMobile {
    display: inline-table;
    border: 1px solid silver;
    background-color: #f1f1f1;
    padding: 1.5% 4%;
    padding-bottom: 0;
    height: 50px;
    text-align: center;
    position: relative;

      @include when-xs {
        display: block;
        padding: 1em 2%;
      }
      @include when-sm {
        padding: 1.5% 2%;
      }
  }
  .tabsListTitleMobile:hover {
      color: #9c5176;
      background-color: #F6F6F6;
    }
}

.tabsListFull {
  display: block;
  margin-bottom: 1%;
}
.tabsListContentMobile {
  border: 1px solid silver;
  box-shadow: 0px 8px 9px -7px silver;
  margin-top: -1px;
  background-color: white;
  padding: 1% 1.2% 1% 1%;
  position: relative;
    display: block;

  img {
    height: 15em;
    width: 15em;
    display: inline;
    border: 10px solid white;
    box-shadow: 0px 2px 10px -1px silver;
  }
  p{
    margin: 2%;
  }
  p:last-child {
    margin-bottom: 5%;
  }
}
.tabsListContent {
  border: 1px solid silver;
  box-shadow: 0px 8px 9px -7px silver;
  margin-top: -1px;
  background-color: white;
  padding: 1% 1.2% 1% 1%;
  display:inline-flex;
  position: relative;
  @include when-xs {
    display: block;
  }
  img {
    height: 15em;
    width: 15em;
    display: inline;
    border: 10px solid white;
    box-shadow: 0px 2px 10px -1px silver;
  }
  p{
    margin: 2%;
  }
  p:last-child {
    margin-bottom: 5%;
  }
}
.tabsContent {
  padding: 3% 3% 0 3%;
}
.tabsImg {
  height: 100%;
  @include when-xs {
    display: flex;
    justify-content: center;
  }
}
.nowa {
  background-color: white !important;
  border-bottom: 1px solid white !important;
  margin-bottom: -1px !important;
  z-index: 99;
  color: #9c5176;
  // @include when-xs {
  //   border-bottom: 1px solid silver !important;
  // }

}
.tabsListItemChoose {
  // display: none;
}
.tabsDisplay {
  display: block;
}
.tabsBox {
  margin-top: 100px;
  display: flex;
    @include when-xs {
      display: block;
    }
}
// .borderLeft2 {
//   margin-top: 0;
// }
.article_box2 {
  margin-top: 2%;
  margin-bottom: 4%;
}
.titleOferta {
  article {
    margin-top: 5%;
  }
}
.entry-content>ol {
  display: none;
}
.showAcordion {
  display: block;
}
.acordion {
  display: none;
  padding: 2%;
}
.colorAcordion {
  background-color: #9c5176;
  color: white;
}
.acordionBox {
  display: block;
  // color: inherit;
  // background-color: inherit;
  border: 1px solid silver;
  text-align: left;
  font-size: 1em;
  margin: 0 auto;
  padding-top: 1%;
  padding-left: 2%;
  border-radius: 5px;
  margin-bottom: 0.5%;
}
.arrowDown::after {
  content: 'â†“';
  float: right;
  padding-right: 23px;
  margin-top: -3px;
}
.arrowUp::after {
  content: 'â†‘';
  float: right;
  padding-right: 23px;
  margin-top: -3px;
}
.acordionBox:hover {
  background-color:#9c5176;
  color: white;
}
.active {
  color: white;
  background-color: #9c5176;
  text-align: left;
  font-size: 1em;
  margin: 0 auto;
  padding-top: 1%;
  padding-left: 2%;
  border-radius: 5px;
  margin-bottom: 0.5%;

}
.titleOferta {
  padding-right: 1%;
}

.entry-content>ol {
  padding: 2%;
}
//***** KONTAKT FORM *****//

.kontakt3boxy,
.kontakt2boxy {
  padding: 3%;
}
form {
  display: flex;
  margin-top: 4%;
  flex-wrap: wrap;
}
input {
  height: 44px;
  border: 1px solid silver;
  padding: 2%;
  margin-top: 1%;
  @include when-xs {
    width: 352.06px;
  }
}
textarea {
  border: 1px solid silver;
  padding: 2%;
  margin-top: 1%;
  height: 100%;
}
input[type=submit] {
  padding: 0.5em;
  font-size: 1em;
  background-color: #9c5176;
  color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.linkMail {
  background-color: #F6F6F6 !important;
  color: #9c5176 !important;
  @include when-xs {
    padding: 0 1% !important;
  }
}

.div.wpcf7-validation-errors {
  display: flex !important;
}

.mapBox iframe{
  margin-top: 0!important;
}
